.cards {
  font-family: "Inter", Arial, sans-serif;
}

.cards__card-list {
  display: grid;
  list-style-type: none;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  margin: 51px 0 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .cards__card-list {
<<<<<<< HEAD
    margin: 36px 0 0;
=======
    margin: 36px 0 0;
>>>>>>> 27ad6611face2508da3360985866982aed735d34
  }
}
