.cards {
  /*FONTS*/
}

.card__list {
  display: grid;
  list-style-type: none;
}

.card {
  border-radius: 10px 10px 0 0;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 282px;
  border-radius: 0 0 10px 10px;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  right: 20px;
  border: none;
}
